<div
  id="card-<%= plant._id %>"
  class="plant-card touchscreen-hover h-[28rem] overflow-hidden border-8 border-text bg-cover bg-center dark:border-text-inverse"
  style="background-image: url('<%= plant.image %>')"
  data-hasleaves="<%= plant.hasLeaves %>"
  data-hasflowers="<%= plant.hasFlowers %>"
  data-hasfruitsnuts="<%= plant.hasFruit || plant.hasSeeds %>"
  data-sunexposure="<%= plant.sunExposure.toLowerCase() %>"
  data-dateTimeSeen="<%= plant.dateTimeSeen %>"
  data-identified="true"
  data-plant-card
  data-plant="<%=plant._id%>"
  data-user="<%=plant.author%>"
  data-latitude="<%=plant.latitude%>"
  data-longitude="<%=plant.longitude%>"
>
  <div
    class="plant-info flex h-full max-h-full flex-col gap-2 text-background dark:text-background-inverse"
  >
    <div class="plant-name relative isolate px-2">
      <h2 class="text-3xl font-bold" data-name><%= plant.name %></h2>
      <p class="italic" data-scientific>Flower Scientific Name</p>
      <p>
        <span data-spotted><%= plant.spottedString %></span>
        <span data-emoji><%= plant.emoji %></span>
      </p>
      <p><span class="<%= plant.identificationStatus === 'completed' ? 'bg-primary' : 'bg-secondary' %> text-xs font-medium me-2 px-2.5 py-0.5 rounded"><%= plant.identificationStatus %></span></p>
      <div
        class="has-tooltip touchscreen-hover mt-2 flex w-max max-w-full items-center gap-2"
      >
        <span class="material-symbols-outlined">schedule</span>
        <span data-date class="mb-0.5"><%= plant.displayDate %></span>
        <span class="tooltip-content tooltip-top"> Time of Sighting </span>
      </div>
      <div
        class="has-tooltip touchscreen-hover my-2 flex w-max max-w-full items-center gap-2"
      >
        <span class="material-symbols-outlined">pin_drop</span>
        <span data-location class="mb-0.5"
          ><%= plant.placeName %> <%= plant.flag %></span
        >
        <span class="tooltip-content tooltip-top"> Location of Sighting </span>
      </div>
      <div
        class="absolute bottom-0 left-0 -z-10 h-[200%] w-full bg-gradient-to-t from-text from-55% dark:from-text-inverse"
      ></div>
    </div>
    <p
      class="flex-fill-remaining-space my-2 overflow-ellipsis px-2"
      data-description
    >
      <!-- Truncate at first word boundary after 80 characters, to prevent overflow -->
      <% if (plant.description.length > 80) { %> <%=
      plant.description.match(/^.{80}\w*/) %>... <% } else { %> <%=
      plant.description %> <% } %>
    </p>
    <div
      class="m-2 flex flex-row justify-evenly gap-2 rounded-lg bg-background p-2 dark:bg-background-inverse"
    >
      <div class="has-tooltip touchscreen-hover" data-leaves>
        <img
          src="/public/img/icons/has-leaf-<%= plant.hasLeaves %>.svg"
          alt="An icon showing that the plant has <%= plant.hasLeaves ? '' : 'no ' %>leaves"
        />
        <span class="tooltip-content tooltip-top">
          <%= plant.hasLeaves ? 'Has ' : 'Has no ' %>leaves
        </span>
      </div>

      <div class="has-tooltip touchscreen-hover" data-flowers>
        <img
          src="/public/img/icons/flowers-<%= plant.hasFlowers %>.svg"
          alt="An icon showing that the plant has <%= plant.hasFlowers ? '' : 'no ' %>flowers"
        />
        <span class="tooltip-content tooltip-top">
          <%= plant.hasFlowers ? 'Has ' : 'Has no ' %>flowers
        </span>
      </div>
      <div class="has-tooltip touchscreen-hover" data-sun>
        <img
          src="/public/img/icons/sun-<%= plant.sunExposure.toLowerCase() %>.svg"
          alt="An icon showing that the plant has <%= plant.sunExposure.toLowerCase().replace('ne', '') %> sun exposure"
        />
        <span class="tooltip-content tooltip-top">
          <%= plant.sunExposure.replace('ne', '') %> sun exposure
        </span>
      </div>
      <div class="has-tooltip touchscreen-hover" data-fruit>
        <img
          src="/public/img/icons/fruits-or-nuts-<%= plant.hasFruit || plant.hasSeeds %>.svg"
          alt="An icon showing that the plant has <%= plant.hasFruit || plant.hasSeeds ? '' : 'no ' %>fruits or nuts"
        />
        <span class="tooltip-content tooltip-top">
          <%= plant.hasFruit || plant.hasSeeds ? 'Has ' : 'Has no ' %>fruit/nuts
        </span>
      </div>
      <div
        class="has-tooltip touchscreen-hover aspect-square h-full rounded-full"
        style="background-color: <%= plant.colour %>"
        data-colour
      >
        <span class="tooltip-content tooltip-top"> Colour of plant </span>
      </div>
    </div>
    <div class="flex flex-row justify-stretch gap-2 p-2">
      <a
        href="/plant/<%=plant._id%>"
        class="hover-button w-full rounded-lg px-4 py-2 text-center text-sm font-bold"
      >
        Chat/More Details
      </a>
    </div>
  </div>
</div>
