<!--  Image Div  -->
<div
  class="left-0 top-12 h-[33vh] w-screen cursor-pointer bg-cover bg-center lg:fixed lg:top-0 lg:h-screen lg:w-[40vw]"
  style="background-image: url('<%= plant.image %>')"
  data-toggle="modal"
  data-target="image-full-modal"
  data-plant-image
></div>

<div
  class="flex items-center justify-center font-bold transition-opacity duration-500 lg:fixed lg:top-0 lg:mt-0 lg:h-screen lg:w-[40vw] lg:cursor-pointer lg:bg-background-inverse lg:text-background lg:opacity-0 lg:hover:opacity-75 lg:dark:bg-background lg:dark:text-background-inverse"
  data-toggle="modal"
  data-target="image-full-modal"
>
  Click on the image to view in full
</div>

<div
  class="modal invisible"
  id="image-full-modal"
  tabindex="-1"
  role="dialog"
  data-modal
>
  <div
    class="modal-overlay"
    data-close="modal"
    data-target="image-full-modal"
  ></div>
  <div class="modal-container">
    <div class="mb-4 flex items-center justify-between">
      <h5 class="modal-title text-xl font-semibold">Full Plant Image</h5>
      <button
        class="close-modal flex justify-center rounded border border-gray-300 bg-background hover:bg-error hover:text-background"
        aria-label="Close modal"
        title="Close modal"
        data-close="modal"
        data-target="image-full-modal"
      >
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    <div class="modal-body">
      <img
        id="full-image"
        src="<%=plant.image%>"
        alt="An image of a plant"
        class="modal-body max-w-[80vw]"
      />
    </div>
  </div>
</div>

<div
  class="flex flex-col items-center px-4 py-2 lg:ml-[40vw] lg:mt-0 lg:flex-row lg:items-start"
>
  <!--  Content Div  -->
  <div class="flex h-[100%] w-[35rem] max-w-full flex-col overflow-y-scroll">
    <div class="border-b-4 border-text">
      <h2 class="text-3xl font-bold" data-name><%= plant.name %></h2>
      <p class="mb-3 italic" data-scientific><%= plant.identifiedName %></p>
      <div class="mb-1 flex items-center gap-1">
        Discovered by
        <b><%= plant.author %></b>
      </div>
      <div class="mb-1 flex items-center gap-1">
        <span class="material-symbols-outlined">schedule</span>
        <span class="mb-0.5" data-spotted><%= plant.displayDate %></span>
      </div>

      <div class="mb-3 flex flex-col justify-between gap-1 xs:flex-row">
        <div class="mb-3 flex flex-col items-start justify-evenly gap-1">
          <div class="flex items-center gap-1">
            <span class="material-symbols-outlined">pin_drop</span>
            <span class="mb-0.5" data-place-name>
              <%= plant.placeName %> <%= plant.flag %>
            </span>
          </div>

          <div
            class="flex justify-evenly gap-1 rounded-lg bg-background p-0.5 dark:bg-background-inverse"
          >
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-leaves
            >
              <img
                src="/public/img/icons/has-leaf-<%= plant.hasLeaves %>.svg"
                alt="An icon showing that the plant has <%= plant.hasLeaves ? '' : 'no ' %>leaves"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.hasLeaves ? 'Has ' : 'Has no ' %>leaves
              </span>
            </div>

            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-flowers
            >
              <img
                src="/public/img/icons/flowers-<%= plant.hasFlowers %>.svg"
                alt="An icon showing that the plant has <%= plant.hasFlowers ? '' : 'no ' %>flowers"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.hasFlowers ? 'Has ' : 'Has no ' %>flowers
              </span>
            </div>
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-sun
            >
              <img
                src="/public/img/icons/sun-<%= plant.sunExposure.toLowerCase() %>.svg"
                alt="An icon showing that the plant has <%= plant.sunExposure.toLowerCase().replace('ne', '') %> sun exposure"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.sunExposure.replace('ne', '') %> sun exposure
              </span>
            </div>
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-fruit
            >
              <img
                src="/public/img/icons/fruits-or-nuts-<%= plant.hasFruit || plant.hasSeeds %>.svg"
                alt="An icon showing that the plant has <%= plant.hasFruit || plant.hasSeeds ? '' : 'no ' %>fruits or nuts"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.hasFruit || plant.hasSeeds ? 'Has ' : 'Has no ' %>
                fruit/nuts
              </span>
            </div>
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10 rounded-full border border-text dark:border-background"
              style="background-color: <%= plant.colour %>"
              data-colour
            >
              <span class="tooltip-content tooltip-top"> Colour of plant </span>
            </div>
          </div>
        </div>

        <div
          class="mb-3 flex flex-row items-end justify-start gap-1 xs:flex-col xs:justify-evenly"
        >
          <button
            id="edit-button"
            class="hover-button-secondary text-center21 hidden w-max rounded-lg px-4 py-1 text-sm font-bold"
            data-toggle="modal"
            data-target="edit-plant-modal"
            data-user="<%= plant.author %>"
          >
            Edit Plant
          </button>
        </div>
      </div>
    </div>
    <p><a id="dbpediaURI" href="#"></a></p>
    <p class="flex-fill-remaining-space" data-description>
      <%= plant.description %>
    </p>
  </div>
  <!-- chat Div -->
  <div class="fixed bottom-14 right-14">
    <button
      id="open-chat"
      class="hover-button material-symbols-outlined fill-0 rounded-lg bg-accent p-2.5 3xl:hidden"
    >
      forum
    </button>
  </div>
  <div
    id="chat-interface"
    class="fixed bottom-10 hidden w-96 max-w-[83.33333vw] sm:right-10 3xl:block"
  >
    <div
      class="w-full max-w-lg rounded-lg bg-white shadow-md 3xl:fixed 3xl:right-0 3xl:top-0 3xl:flex 3xl:h-screen 3xl:w-[calc(100vw-40vw-40rem)] 3xl:flex-col 3xl:rounded-none 3xl:bg-background 3xl:py-12 3xl:shadow-none"
    >
      <div
        class="flex items-center justify-between rounded-t-lg border-b bg-primary p-4 3xl:justify-end 3xl:rounded-none 3xl:border-b-2 3xl:border-text 3xl:bg-background 3xl:pt-2"
      >
        <p class="font-semibold text-background 3xl:text-2xl 3xl:text-text">
          Live Chat & Comments
        </p>
        <button
          id="close-chat"
          class="close-modal flex justify-center rounded bg-background hover:bg-error hover:text-background 3xl:hidden"
          aria-label="close chat"
        >
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
      <div id="chatbox" class="h-80 overflow-y-auto p-4 3xl:h-full">
        <!-- Chat messages will be displayed here -->
      </div>
      <div class="flex border-t p-4">
        <form
          id="chat-form"
          class="flex w-full 3xl:fixed 3xl:bottom-12 3xl:right-0 3xl:w-[calc(100vw-40vw-40rem)]"
        >
          <input
            id="user-id"
            type="text"
            class="hidden"
            value="user-placeholder"
          />
          <input
            id="plant-id"
            type="text"
            class="hidden"
            value="<%= plant.id %>"
          />
          <input
            id="user-input"
            type="text"
            placeholder="Share your thoughts..."
            class="w-full rounded-l-md border px-3 py-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-accent"
          />
          <button
            id="send-button"
            class="hover-button material-symbols-outlined rounded-r-md bg-primary px-4 py-2 transition duration-300"
          >
            send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal invisible"
  id="edit-plant-modal"
  tabindex="-1"
  role="dialog"
  data-modal
>
  <div
    class="modal-overlay"
    data-close="modal"
    data-target="edit-plant-modal"
  ></div>
  <div class="modal-container">
    <div class="mb-4 flex items-center justify-between">
      <h5 class="modal-title text-xl font-semibold">Edit a plant sighting</h5>
      <button
        class="close-modal flex justify-center rounded border border-gray-300 bg-background hover:bg-error hover:text-background"
        aria-label="Close modal"
        title="Close modal"
        data-close="modal"
        data-target="edit-plant-modal"
      >
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    <div class="modal-body">
      <form
        id="editPlantForm"
        target="fakesubmit"
        data-form="plant"
        data-plant="<%= plant._id %>"
        enctype="multipart/form-data"
        method="POST"
        autocomplete="off"
        class="w-[32rem] max-w-[70vw]"
      >
        <input id="_id" name="_id" type="hidden" value="<%= plant._id %>" />
        <div class="form-group mb-4">
          <label for="name" class="block text-text">Name</label>
          <input
            type="text"
            class="form-input mt-1 block w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
            id="name"
            name="name"
            maxlength="40"
            required
            value="<%= plant.name %>"
          />
        </div>
        <div class="form-group mb-4">
          <label for="description" class="block text-text">Description</label>
          <textarea
            type="textarea"
            class="form-input mt-1 block w-full resize-none rounded border border-gray-300 bg-background-light pl-2 text-text"
            id="description"
            name="description"
            rows="3"
            maxlength="256"
            required
          >
      <%= plant.description %>
    </textarea
          >
        </div>
        <% const d = plant.dateTimeSeen %> <% const formattedDate = ('000' +
        d.getFullYear()).slice(-4) + "-" + ('0' + (d.getMonth()+1)).slice(-2) +
        '-' + ('0' + d.getDate()).slice(-2) + "T" + ('0' +
        d.getHours()).slice(-2) + ":" + ('0' + d.getMinutes()).slice(-2); %>
        <div class="form-group mb-4">
          <label for="dateTimeSeen" class="block text-text">Time seen</label>
          <input
            type="datetime-local"
            id="dateTimeSeen"
            name="dateTimeSeen"
            class="form-input mt-1 block w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
            value="<%= formattedDate %>"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label for="size" class="block text-text">Size (cm)</label>
          <input
            type="number"
            class="form-input mt-1 block w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
            id="size"
            name="size"
            min="0"
            value="<%= plant.size %>"
            step=".01"
            required
          />
        </div>
        <!-- Select -->
        <div class="form-group mb-4">
          <label for="sunExposure" class="block text-text">Sun Exposure</label>
          <select
            id="sunExposure"
            name="sunExposure"
            class="form-input block w-full rounded-lg border border-gray-300 bg-background-light p-2.5 text-sm text-text focus:border-background-hover focus:ring-background"
          >
            <!-- prettier-ignore -->
            <option selected="<%= (plant.sunExposure === 'None') ? 'selected' : '' %>">
              None
            </option>
            <!-- prettier-ignore -->
            <option selected="<%= (plant.sunExposure === 'Partial') ? 'selected' : '' %>">
              Partial
            </option>
            <!-- prettier-ignore -->
            <option selected="<%= (plant.sunExposure === 'Full') ? 'selected' : '' %>">
              Full
            </option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label for="colour" class="block text-text">Plant Colour</label>
          <input
            type="color"
            name="colour"
            class="form-input block h-10 w-14 cursor-pointer rounded border border-gray-300 bg-background-light p-1 text-text"
            id="hs-color-input"
            value="<%= plant.colour %>"
            title="Select plant colour"
            required
          />
        </div>

        <!-- Checkboxes -->
        <!-- In checkboxes: hasFlowers, hasLeaves & sunExposure -->
        <label for="properties" class="block text-text">Properties</label>
        <div
          id="properties"
          class="form-group mb-4 flex flex-col justify-between sm:flex-row"
        >
          <div class="mb-2 flex items-center">
            <input
              id="hasFlowers"
              name="hasFlowers"
              type="checkbox"
              value="true"
              class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
              checked="<%= plant.hasFlowers ? 'checked' : '' %>"
            />
            <label for="hasFlowers" class="ms-2 text-sm font-medium text-text">
              Flowers
            </label>
          </div>
          <div class="mb-2 flex items-center">
            <input
              id="hasLeaves"
              name="hasLeaves"
              type="checkbox"
              value="true"
              class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
              checked="<%= plant.hasLeaves ? 'checked' : '' %>"
            />
            <label for="hasLeaves" class="ms-2 text-sm font-medium text-text">
              Leaves
            </label>
          </div>
          <div class="mb-2 flex items-center">
            <input
              id="hasFruit"
              name="hasFruit"
              type="checkbox"
              value="true"
              class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
              checked="<%= plant.hasFruit ? 'checked' : '' %>"
            />
            <label for="hasFruit" class="ms-2 text-sm font-medium text-text">
              Fruit
            </label>
          </div>
          <div class="mb-2 flex items-center">
            <input
              id="hasSeeds"
              name="hasSeeds"
              type="checkbox"
              value="true"
              class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
              checked="<%= plant.hasSeeds ? 'checked' : '' %>"
            />
            <label for="hasSeeds" class="ms-2 text-sm font-medium text-text">
              Seeds
            </label>
          </div>
        </div>

        <!-- checkbox for using a file or a url for image -->
        <label for="imageSettingsEdit" class="block text-text"
          >Image Settings</label
        >
        <div
          id="imageSettingsEdit"
          class="form-group mb-4 flex flex-col justify-between sm:flex-row"
        >
          <div class="mb-2 flex items-center">
            <input
              id="imageInputCheckboxEdit"
              name="imageInput"
              type="checkbox"
              value="url"
              class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
              data-change="toggle-input"
            />
            <label
              for="imageInputCheckbox"
              class="ms-2 text-sm font-medium text-text"
              >Use URL for image?</label
            >
          </div>
          <div class="mb-2 flex items-center">
            <input
              id="imageValidatedEdit"
              name="imageValidated"
              type="checkbox"
              value="true"
              class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
              required
              disabled
              checked
              oninvalid="this.setCustomValidity('Upload or enter a valid URL and preview to continue')"
            />
            <label
              for="imageValidatedEdit"
              class="ms-2 text-sm font-medium text-text"
              >Image validated?</label
            >
          </div>
        </div>
        <div class="form-group mb-4" id="imageDivEdit">
          <label class="block text-text" for="imageEdit"
            >Upload Image</label
          >
          <input
            class="file:form-input file:hover-button w-full cursor-pointer file:rounded file:px-4 file:py-2 file:font-bold"
            id="imageEdit"
            name="image"
            type="file"
            aria-describedby="file_input_help"
            accept="image/png, image/jpeg, image/gif"
            data-change="preview"
            data-default="<%= plant.image %>"
          />
        </div>
        <div
          class="form-group mb-4 flex hidden space-x-2"
          id="urlDivEdit"
        >
          <div class="w-3/4">
            <label for="urlEdit">Enter URL:</label>
            <input
              type="text"
              id="urlEdit"
              name="url"
              class="form-input mt-1 block w-full grow-0 rounded border border-gray-300 bg-background-light pl-2 text-text"
            />
          </div>
          <button
            class="form-input hover-button w-1/4 grow-0 rounded px-4 py-2 font-bold"
            type="button"
            data-click="preview"
          >
            Preview
          </button>
        </div>
        <div id="imagePreviewContainerEdit">
          <label class="block text-text" for="preview">Image Preview</label>
          <object
            type="image/svg+xml"
            data="/public/img/loading.svg"
            class="hidden aspect-square w-1/2 rounded"
          ></object>
          <img
            id="previewEdit"
            src="<%= plant.image %>"
            alt="your image"
            class="w-1/2"
            data-img="preview"
          />
        </div>
        <p
          id="previewErrorEdit"
          class="my-2 hidden px-2 font-bold text-error"
        ></p>
        <div class="form-group mb-4 flex space-x-2">
          <input
            type="text"
            id="latitudeEdit"
            name="latitude"
            class="form-input mt-1 block hidden w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
            value="<%= plant.latitude %>"
            required
            readonly
          />
          <input
            type="text"
            id="longitudeEdit"
            name="longitude"
            class="form-input mt-1 block hidden w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
            value="<%= plant.longitude %>"
            readonly
          />
          <div class="w-3/4">
            <label for="coordinates">Coordinates:</label>
            <input
              type="text"
              id="coordinatesEdit"
              name="coordinates"
              class="form-input mt-1 block w-full grow-0 rounded border border-gray-300 bg-background-light pl-2 text-text"
              value="(<%= plant.latitude %>,<%= plant.longitude %>)"
              required
              readonly
            />
          </div>
          <button
            class="form-input hover-button w-1/4 grow-0 rounded px-4 py-2 font-bold"
            type="button"
            data-click="geolocation"
          >
            Get
          </button>
        </div>
        <div class="mt-4 flex w-full space-x-4" id="buttonsDiv">
          <button
            id="submitButton"
            type="submit"
            class="form-input hover-button rounded px-4 py-2 font-bold"
          >
            Submit
          </button>
          <button
            id="deleteButton"
            type="button"
            class="form-input hover-button-error rounded px-4 py-2 font-bold"
            data-click="delete"
          >
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
