<main class="mx-auto flex w-screen flex-col lg:mt-2 lg:w-10/12">
  <div
    class="flex flex-col items-center justify-between border-text lg:mb-8 lg:flex-row lg:items-end lg:border-b-4 lg:pb-2"
  >
    <h1 class="hidden text-4xl font-bold lg:block"><%= title %></h1>
    <div
      class="fixed bottom-0 z-50 flex max-h-full w-screen flex-row items-center justify-evenly gap-4 border-t-2 border-background-hover bg-background lg:relative lg:w-auto lg:flex-fill-remaining-space lg:items-end lg:justify-end lg:border-0 lg:p-2 max-lg:h-12"
    >
      <button
        class="hover-link flex h-full items-center px-2 lg:hidden"
        data-toggle="tab"
        data-active-class="bg-background-hover"
        data-target="grid-view"
      >
        <span class="material-symbols-outlined !text-4xl"
          >calendar_view_day</span
        >
      </button>
      <button
        class="hover-link flex h-full items-center px-2 lg:hidden"
        data-toggle="tab"
        data-active-class="bg-background-hover"
        data-target="map-view"
      >
        <span class="material-symbols-outlined !text-4xl">map</span>
      </button>

      <!-- Button in front of the filters, to be shown on small screens (so the add button is in the middle, like on instagram) -->
      <button
        type="button"
        class="hover-link flex items-center lg:hidden"
        data-toggle="modal"
        data-target="plant-add-modal"
      >
        <span class="material-symbols-outlined !text-4xl"> library_add </span>
      </button>

      <%- include('../partials/plant-filters.ejs') %>

      <!-- Button to be shown on larger screens, to the right of the filter buttons -->
      <button
        type="button"
        class="hover-button flex items-center gap-2 rounded px-3 py-2 font-bold max-lg:hidden"
        data-toggle="modal"
        data-target="plant-add-modal"
      >
        <span>Add Plant</span>
        <span class="material-symbols-outlined"> library_add </span>
      </button>

      <button
        type="button"
        class="flex aspect-square min-h-9 items-center justify-center border-text lg:h-10"
        data-toggle="modal"
        data-target="user-details-modal"
        data-fill="user-avatar"
      >
      </button>

      <!-- prettier-ignore -->
      <%-
        include('../partials/modal.ejs', {
          modalID: 'plant-add-modal',
          modalTitle: 'Create a new plant sighting',
          modalContent: 'plant-form'
        });
      %>

      <!-- prettier-ignore -->
      <%-
        include('../partials/modal.ejs', {
          modalID: 'user-details-modal',
          modalTitle: 'Your User Details',
          modalContent: 'user-details-modal'
        });
      %>
    </div>
  </div>
  <h3
    id="no-plants-warning"
    class="<%= plants.length === 0 ? '' : 'hidden' %> m-auto w-max text-2xl font-bold"
  >
    No plants yet! Click 'Add Plant' to get started.
  </h3>
  <div class="tabs flex-fill-remaining-space flex w-full flex-col">
    <div class="tab-buttons hidden flex-row gap-2 lg:flex">
      <button
        class="tab-button flex items-center gap-1"
        data-toggle="tab"
        data-active-class="active"
        data-target="grid-view"
      >
        <span class="material-symbols-outlined">grid_view</span> Grid View
      </button>
      <button
        class="tab-button flex items-center gap-1"
        data-toggle="tab"
        data-active-class="active"
        data-target="map-view"
      >
        <span class="material-symbols-outlined">map</span> Map View
      </button>
      <button
        id="sort-button"
        class="ml-auto mr-2 hidden items-center gap-0.5 lg:flex"
      >
        Sort by time seen
        <span id="sort-icon" class="material-symbols-outlined"
          >arrow_drop_up</span
        >
        <!-- Up arrow symbol -->
      </button>
    </div>
    <!-- need defined height here otherwise it'll keep expanding to min height of plant cards -->
    <div
      class="tab-container flex-fill-remaining-space h-1 overflow-scroll border-text p-4 lg:rounded-xl lg:rounded-tl-none lg:border-2 lg:bg-background-hover"
    >
      <div id="grid-view" class="tab-content">
        <%- include('../partials/plant-view-grid') %>
      </div>
      <div
        id="map-view"
        class="tab-content relative h-full w-full"
        data-has-leaflet-map
      >
        <div id="map" class="h-full w-full rounded-lg" data-is-leaflet></div>
      </div>
    </div>
  </div>
</main>
