<main class="flex flex-col mx-auto mt-2 w-10/12">
  <div
    class="mb-8 flex flex-col items-center justify-between border-b-4 border-text pb-2 lg:flex-row lg:items-end"
  >
    <h1 class="text-4xl font-bold"><%= title %></h1>
    <div
      class="lg:flex-fill-remaining-space fixed bottom-0 z-50 flex max-h-full w-screen flex-row items-end justify-center gap-4 border-t-2 border-text bg-background p-2 lg:relative lg:w-auto lg:justify-end lg:border-0"
    >
      <%- include('../partials/plant-filters.ejs') %>

      <button
        type="button"
        class="hover-button flex items-center gap-2 rounded px-3 py-2 text-center font-bold"
        data-toggle="modal"
        data-target="plant-add-modal"
      >
        Add Plant <span class="material-symbols-outlined"> library_add </span>
      </button>

      <!-- prettier-ignore -->
      <%-
        include('../partials/modal.ejs', {
            modalID: 'plant-add-modal',
            modalTitle: 'Create a new plant sighting',
            modalContent: 'plant-form'
        });
      %>
    </div>
  </div>
  <h3
    id="no-plants-warning"
    class="<%= plants.length === 0 ? '' : 'hidden' %> m-auto w-max text-2xl font-bold"
  >
    No plants yet! Click 'Add Plant' to get started.
  </h3>
  <div id="tabs" class="w-full flex-fill-remaining-space flex flex-col">
    <div id="tabs-buttons" class="flex flex-row gap-2">
      <button class="tab-button" data-target="grid-view">
        Grid View
      </button>
      <button class="tab-button" data-target="map-view">
        Map View
      </button>
    </div>
    <!-- need defined height here otherwise it'll keep expanding to min height of plant cards -->
    <div id="tab-container" class="rounded-xl rounded-tl-none bg-background-hover h-1 flex-fill-remaining-space p-4 overflow-scroll border-2 border-text">
      <div class="tab-content" data-tab="grid-view">
        <%- include('../partials/plant-view-grid') %>
      </div>
      <div class="tab-content" data-tab="map-view">
        <h1>test</h1>
      </div>
    </div>
  </div>
</main>
