<% var editModalName = plant._id + "-edit-plant-modal"%>
<main
  id="card-<%=plant._id%>"
  data-plant-card
  data-plant="<%=plant._id%>"
  class="flex-fill-remaining-space h-1 overflow-scroll"
>
  <!--  Image Div  -->
  <div
    class="left-0 top-12 h-[33vh] w-screen cursor-pointer bg-cover bg-center lg:fixed lg:top-0 lg:h-screen lg:w-[40vw]"
    style="background-image: url('<%= plant.image %>')"
    data-toggle="modal"
    data-target="image-full-modal"
  ></div>

  <div
    class="flex items-center justify-center font-bold transition-opacity duration-500 lg:fixed lg:top-0 lg:mt-0 lg:h-screen lg:w-[40vw] lg:cursor-pointer lg:bg-background-inverse lg:text-background lg:opacity-0 lg:hover:opacity-75 lg:dark:bg-background lg:dark:text-background-inverse"
    data-toggle="modal"
    data-target="image-full-modal"
  >
    Click on the image to view at full size
  </div>

  <!-- prettier-ignore -->
  <%-
    include('../partials/modal.ejs', {
      modalID: 'image-full-modal',
      modalTitle: 'Full Plant Image',
      modalContent: 'plant-image'
    });
  %>

  <div
    class="flex flex-col items-center px-4 py-2 lg:ml-[40vw] lg:mt-0 lg:flex-row lg:items-start"
  >
    <!--  Content Div  -->
    <div class="flex h-[100%] max-w-[35rem] flex-col overflow-scroll">
      <div class="border-b-4 border-text">
        <h2 class="text-3xl font-bold" data-name><%= plant.name %></h2>
        <p class="italic" data-scientific>Flower Scientific Name</p>
        <p>Discovered by <b><%= plant.author%></b></p>
        <div class="mb-1 flex flex-row justify-between">
          <p>
            <span data-spotted><%= plant.displayDate %></span>
            <span data-emoji><%= plant.emoji %></span>
          </p>

          <button
            class="hover-button rounded-lg px-4 py-1 text-center text-sm font-bold"
            data-toggle="modal"
            data-target="plant-map-modal"
          >
            View on Map
          </button>

          <!-- prettier-ignore -->
          <%-
          include('../partials/modal.ejs', {
            modalID: 'plant-map-modal',
            modalTitle: 'Plant Location',
            modalContent: 'map-modal'
          });
          %>
        </div>

        <div class="flex items-center justify-between">
          <div
            class="flex justify-evenly gap-1 rounded-lg bg-background p-0.5 dark:bg-background-inverse"
          >
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-leaves
            >
              <img
                src="/public/img/icons/has-leaf-<%= plant.hasLeaves %>.svg"
                alt="An icon showing that the plant has <%= plant.hasLeaves ? '' : 'no ' %>leaves"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.hasLeaves ? 'Has ' : 'Has no ' %>leaves
              </span>
            </div>

            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-flowers
            >
              <img
                src="/public/img/icons/flowers-<%= plant.hasFlowers %>.svg"
                alt="An icon showing that the plant has <%= plant.hasFlowers ? '' : 'no ' %>flowers"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.hasFlowers ? 'Has ' : 'Has no ' %>flowers
              </span>
            </div>
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-sun
            >
              <img
                src="/public/img/icons/sun-<%= plant.sunExposure.toLowerCase() %>.svg"
                alt="An icon showing that the plant has <%= plant.sunExposure.toLowerCase().replace('ne', '') %> sun exposure"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.sunExposure.replace('ne', '') %> sun exposure
              </span>
            </div>
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10"
              data-fruit
            >
              <img
                src="/public/img/icons/fruits-or-nuts-<%= plant.hasFruit || plant.hasSeeds %>.svg"
                alt="An icon showing that the plant has <%= plant.hasFruit || plant.hasSeeds ? '' : 'no ' %>fruits or nuts"
              />
              <span class="tooltip-content tooltip-top">
                <%= plant.hasFruit || plant.hasSeeds ? 'Has ' : 'Has no ' %>
                fruit/nuts
              </span>
            </div>
            <div
              class="has-tooltip touchscreen-hover aspect-square h-10 rounded-full border border-text"
              style="background-color: <%= plant.colour %>"
              data-colour
            >
              <span class="tooltip-content tooltip-top"> Colour of plant </span>
            </div>
          </div>
          <button
            class="hover-button-secondary text-center21 w-max rounded-lg px-4 py-1 text-sm font-bold"
            data-toggle="modal"
            data-target="<%= editModalName %>"
          >
            Suggest Edit
          </button>
        </div>
      </div>

      <p class="flex-fill-remaining-space" data-description>
        <%= plant.description %>
      </p>
    </div>
    <!-- chat Div -->
    <%- include('../partials/chat.ejs') %>
  </div>

  <!-- prettier-ignore -->
  <%-
    include('../partials/modal.ejs', {
      modalID: editModalName,
      modalTitle: 'Edit a plant sighting',
      modalContent: 'edit-plant-form',
    });
  %>
</main>
