<form
  id="editPlantForm"
  target="fakesubmit"
  data-form="plant"
  data-plant="<%= plant._id %>"
  enctype="multipart/form-data"
  method="POST"
  autocomplete="off"
  class="w-[32rem] max-w-[70vw]"
>
  <input id="_id" name="_id" type="hidden" value="<%= plant._id %>" />
  <input id="_id" name="_id" type="hidden" value="<%= plant._id %>" />
  <div class="form-group mb-4">
    <label for="name" class="block text-text">Name</label>
    <input
      type="text"
      class="form-input mt-1 block w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
      id="name"
      name="name"
      maxlength="40"
      required
      value="<%= plant.name %>"
    />
  </div>
  <div class="form-group mb-4">
    <label for="description" class="block text-text">Description</label>
    <textarea
      type="textarea"
      class="form-input mt-1 block w-full resize-none rounded border border-gray-300 bg-background-light pl-2 text-text"
      id="description"
      name="description"
      rows="3"
      maxlength="256"
      required
    >
      <%= plant.description %>
    </textarea>
  </div>
  <% const d = plant.dateTimeSeen %>
  <!-- prettier-ignore -->
  <% const formattedDate =
          ('000' + d.getFullYear()).slice(-4) + "-" + ('0' + (d.getMonth()+1)).slice(-2) + '-' +
          ('0' + d.getDate()).slice(-2) + "T" + ('0' + d.getHours()).slice(-2) + ":" +
          ('0' + d.getMinutes()).slice(-2);
  %>
  <div class="form-group mb-4">
    <label for="dateTimeSeen" class="block text-text">Time seen</label>
    <input
      type="datetime-local"
      id="dateTimeSeen"
      name="dateTimeSeen"
      class="form-input mt-1 block w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
      value="<%= formattedDate %>"
      required
    />
  </div>
  <div class="form-group mb-4">
    <label for="size" class="block text-text">Size (cm)</label>
    <input
      type="number"
      class="form-input mt-1 block w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
      id="size"
      name="size"
      min="0"
      value="<%= plant.size %>"
      step=".01"
      required
    />
  </div>
  <!-- Select -->
  <div class="form-group mb-4">
    <label for="sunExposure" class="block text-text">Sun Exposure</label>
    <select
      id="sunExposure"
      name="sunExposure"
      class="form-input block w-full rounded-lg border border-gray-300 bg-background-light p-2.5 text-sm text-text focus:border-background-hover focus:ring-background"
    >
      <!-- prettier-ignore -->
      <option selected="<%= (plant.sunExposure === 'None') ? 'selected' : '' %>">
        None
      </option>
      <!-- prettier-ignore -->
      <option selected="<%= (plant.sunExposure === 'Partial') ? 'selected' : '' %>">
        Partial
      </option>
      <!-- prettier-ignore -->
      <option selected="<%= (plant.sunExposure === 'Full') ? 'selected' : '' %>">
        Full
      </option>
    </select>
  </div>

  <div class="form-group mb-4">
    <label for="colour" class="block text-text">Plant Colour</label>
    <input
      type="color"
      name="colour"
      class="form-input block h-10 w-14 cursor-pointer rounded border border-gray-300 bg-background-light p-1 text-text"
      id="hs-color-input"
      value="<%= plant.colour %>"
      title="Select plant colour"
      required
    />
  </div>

  <!-- Checkboxes -->
  <!-- In checkboxes: hasFlowers, hasLeaves & sunExposure -->
  <label for="properties" class="block text-text">Properties</label>
  <div
    id="properties"
    class="form-group mb-4 flex flex-col justify-between sm:flex-row"
  >
    <div class="mb-2 flex items-center">
      <input
        id="hasFlowers"
        name="hasFlowers"
        type="checkbox"
        value="true"
        class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
        checked="<%= plant.hasFlowers ? 'checked' : '' %>"
      />
      <label for="hasFlowers" class="ms-2 text-sm font-medium text-text">
        Flowers
      </label>
    </div>
    <div class="mb-2 flex items-center">
      <input
        id="hasLeaves"
        name="hasLeaves"
        type="checkbox"
        value="true"
        class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
        checked="<%= plant.hasLeaves ? 'checked' : '' %>"
      />
      <label for="hasLeaves" class="ms-2 text-sm font-medium text-text">
        Leaves
      </label>
    </div>
    <div class="mb-2 flex items-center">
      <input
        id="hasFruit"
        name="hasFruit"
        type="checkbox"
        value="true"
        class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
        checked="<%= plant.hasFruit ? 'checked' : '' %>"
      />
      <label for="hasFruit" class="ms-2 text-sm font-medium text-text">
        Fruit
      </label>
    </div>
    <div class="mb-2 flex items-center">
      <input
        id="hasSeeds"
        name="hasSeeds"
        type="checkbox"
        value="true"
        class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
        checked="<%= plant.hasSeeds ? 'checked' : '' %>"
      />
      <label for="hasSeeds" class="ms-2 text-sm font-medium text-text">
        Seeds
      </label>
    </div>
  </div>

  <!-- checkbox for using a file or a url for image -->
  <label for="imageSettings<%=plant._id%>" class="block text-text"
    >Image Settings</label
  >
  <div
    id="imageSettingsEdit"
    class="form-group mb-4 flex flex-col justify-between sm:flex-row"
  >
    <div class="mb-2 flex items-center">
      <input
        id="imageInputCheckboxEdit"
        name="imageInput"
        type="checkbox"
        value="url"
        class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
        data-change="toggle-input"
      />
      <label for="imageInputCheckbox" class="ms-2 text-sm font-medium text-text"
        >Use URL for image?</label
      >
    </div>
    <div class="mb-2 flex items-center">
      <input
        id="imageValidatedEdit"
        name="imageValidated"
        type="checkbox"
        value="true"
        class="form-input focus:primary-hover h-6 w-6 rounded border-text-hover bg-text text-primary"
        required
        disabled
        checked
        oninvalid="this.setCustomValidity('Upload or enter a valid URL and preview to continue')"
      />
      <label
        for="imageValidatedEdit"
        class="ms-2 text-sm font-medium text-text"
        >Image validated?</label
      >
    </div>
  </div>
  <div class="form-group mb-4" id="imageDivEdit">
    <label class="block text-text" for="imageEdit"
      >Upload Image</label
    >
    <input
      class="file:form-input file:hover-button w-full cursor-pointer file:rounded file:px-4 file:py-2 file:font-bold"
      id="imageEdit"
      name="image"
      type="file"
      aria-describedby="file_input_help"
      accept="image/png, image/jpeg, image/gif"
      data-change="preview"
      data-default="<%= plant.image %>"
    />
  </div>
  <div class="form-group mb-4 flex hidden space-x-2" id="urlDivEdit">
    <div class="w-3/4">
      <label for="urlEdit">Enter URL:</label>
      <input
        type="text"
        id="urlEdit"
        name="url"
        class="form-input mt-1 block w-full grow-0 rounded border border-gray-300 bg-background-light pl-2 text-text"
      />
    </div>
    <button
      class="form-input hover-button w-1/4 grow-0 rounded px-4 py-2 font-bold"
      type="button"
      data-click="preview"
    >
      Preview
    </button>
  </div>
  <div id="imagePreviewContainerEdit">
    <label class="block text-text" for="preview">Image Preview</label>
    <object
      type="image/svg+xml"
      data="/public/img/loading.svg"
      class="hidden aspect-square w-1/2 rounded"
    ></object>
    <img
      id="previewEdit"
      src="<%= plant.image %>"
      alt="your image"
      class="w-1/2"
      data-img="preview"
    />
  </div>
  <p
    id="previewErrorEdit"
    class="my-2 hidden px-2 font-bold text-error"
  ></p>
  <div class="form-group mb-4 flex space-x-2">
    <input
      type="text"
      id="latitude<%=plant._id%>"
      name="latitude"
      class="form-input mt-1 block hidden w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
      value="<%= plant.latitude %>"
      required
      readonly
    />
    <input
      type="text"
      id="longitude<%=plant._id%>"
      name="longitude"
      class="form-input mt-1 block hidden w-full rounded border border-gray-300 bg-background-light pl-2 text-text"
      value="<%= plant.longitude %>"
      readonly
    />
    <div class="w-3/4">
      <label for="coordinates">Coordinates:</label>
      <input
        type="text"
        id="coordinates<%=plant._id%>"
        name="coordinates"
        class="form-input mt-1 block w-full grow-0 rounded border border-gray-300 bg-background-light pl-2 text-text"
        value="(<%= plant.latitude %>,<%= plant.longitude %>)"
        required
        readonly
      />
    </div>
    <button
      class="form-input hover-button w-1/4 grow-0 rounded px-4 py-2 font-bold"
      type="button"
      data-click="geolocation"
    >
      Get
    </button>
  </div>
  <div class="mt-4 flex w-full space-x-4" id="buttonsDiv">
    <button
      id="submitButton"
      type="submit"
      class="form-input hover-button rounded px-4 py-2 font-bold"
    >
      Submit
    </button>
    <button
      id="deleteButton"
      type="button"
      class="form-input hover-button-error rounded px-4 py-2 font-bold"
      data-click="delete"
    >
      Delete
    </button>
  </div>
</form>
