<!doctype html>
<html class="light" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="stylesheet" href="/public/styles/dist/global.css" />
  <link rel="manifest" href="/public/manifest.json">
</head>
<body class="flex min-h-screen flex-col bg-background text-text">
  <iframe name="fakesubmit" id="fakesubmit" style="display: none;"></iframe>
  <%- include('../partials/flash-message.ejs') %>
  <%- include('../partials/onlineIndicator.ejs') %>
  <%- include('../partials/themeToggle.ejs') %>
  <% /* Render child elements of the layout here */%>
  <%- include(children) %>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/js-variables.ejs') %>
</body>
<% for(let i=0; i<scripts.length; i++) { %>
  <script
    src="/public/scripts/<%= scripts[i] %>.js"
    type="module"
  ></script>
<% } %>
