<!doctype html>
<html class="light h-full w-screen" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="stylesheet" href="/public/styles/dist/global.css" />
  <link rel="manifest" href="/public/manifest.json">
  <% if (typeof useLeaflet !== 'undefined' && useLeaflet) { %>
    <link rel="stylesheet" href="/public/styles/leaflet.css">
  <% } %>
</head>
<body class="flex min-h-screen w-screen flex-col bg-background text-text">
  <iframe name="fakesubmit" id="fakesubmit" style="display: none;"></iframe>
  <%- include('../partials/flash-message.ejs') %>
  <%- include('../partials/onlineIndicator.ejs') %>
  <%- include('../partials/themeToggle.ejs') %>
  <a href="/" id="home-button" class="material-symbols-outlined fixed top-[1.05rem] left-12 size-7 text-text" title="Home Page">
    <img
            class="aspect-square h-full rounded-xl dark:bg-background-inverse"
            src="/public/img/logo.svg"
            alt="HomePage Icon"
    />
  </a>
  <button id="logout-button" class="fixed top-[1.05rem] right-20 size-8 text-text invisible" title="Logout">
    <img
            class="aspect-square h-full rounded-xl dark:bg-background-inverse"
            src="/public/img/logout.svg"
            alt="Logout Icon"
    />
  </button>

  <%- include('../partials/login-modal.ejs') %>
  <% /* Render child elements of the layout here */%>
  <%- include(children) %>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/js-variables.ejs') %>
</body>
<% if (typeof useLeaflet !== 'undefined' && useLeaflet) { %>
  <script src="/public/scripts/leaflet/leaflet.js"></script>
<% } %>
<% for(let i=0; i<scripts.length; i++) { %>
  <script
    src="/public/scripts/<%= scripts[i] %>.js"
    type="module"
  ></script>
<% } %>
